page-home {
    .A .item-md {
      color: black;
      font-size: 1.2rem;
      font-weight: lighter;
      padding-bottom: 20px;
    }
    .B .item-md {
      color: black;
      font-size: 1.2rem;
      font-weight: lighter;
      padding-bottom: 20px;
    }
    .C .item-md {
      color: black;
      font-size: 1.2rem;
      font-weight: lighter;
      padding-bottom: 20px;
      
    }
    .D .item-md {
      font-size: 1.2rem;
      color: black;
      font-weight: lighter;
      padding-bottom: 20px;
    }
  }
  